@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

*:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:
        linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-attachment: fixed;
}

h1 {
    margin: 15px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Libre Franklin', sans-serif;
}

#grid {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    height: calc(100vh - 25em);
    width: calc(100vw - 2em);
    max-width: 1450px;
    margin: 0 auto;
}

#chart-wrapper {
    margin-top: 20px;
    min-height: 250px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form>* {
    flex-basis: 200px;
}

input {
    text-align: center;
    background: transparent;
}

input[type=number],
input[type=text] {
    padding: 8px;
    border-bottom: 2px solid white;
    width: 100%;
}

input[type=submit] {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.invalid {
    border-bottom: 2px solid red;
}

.input-box {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

::placeholder {
    color: whitesmoke;
}


#submit {
    padding: 10px 25px;
    margin: 10px auto;
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    min-width: 250px;
}

#submit:hover {
    color: white;
    cursor: pointer;
}

#chart {
    width: 500px;
}