@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    border: none;
}

*:focus {
    outline: none;
}

html {
    /* background: radial-gradient(ellipse at top, #9333ea, transparent),
        radial-gradient(ellipse at bottom, #16a34a, transparent),
        radial-gradient(ellipse at right, #ea580c, transparent),
        radial-gradient(ellipse at left, #db2777, transparent); */
    background:
        /* linear-gradient(#ea580c, transparent),
        linear-gradient(to top left, #16a34a, transparent),
        linear-gradient(to top right, #9333ea, transparent); */
        linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    /* background-size: 400% 400%;

    animation: gradient 15s ease infinite; */
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 15px;
    text-align: center;
    font-size: 45px;
    font-family: 'Libre Franklin', sans-serif;
}

#wrapper {
    text-align: center;
    margin: 15px;
    padding: 5px 25vw;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input {
    text-align: center;
    background: transparent;
}

input[type=number],
input[type=text] {
    padding: 8px;
    border-bottom: 2px solid white;
    width: 100px;
}

input[type=submit] {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.invalid {
    border-bottom: 2px solid red;
}

.input-box {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

::placeholder {
    color: whitesmoke;
}

/* .input-box:focus-within {
    border-color: green;
} */


#submit {
    padding: 10px 25px;
    margin: 10px 0px;
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
}

#submit:hover {
    color: white;
    cursor: pointer;
}

#chart {
    width: 500px;
}